*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.color--green {
  background-color: #58C27D;
}

.color--orange {
  background-color: #FA8F54;
}

.color--blue {
  background-color: #3B71FE;
}

.color--blue1 {
  background-color: var(--blue);
}

.color--yellow {
  background-color: #FFD166;
}

:root {
  --dark: #353945;
  --dark1: #23262F;
  --dark2:#141416;
  --white: #FFF;
  --blue:#3B71FE;
  --grey:#777E90;
  --grey2:#B1B5C3;
  --grey3:#E6E8EC;
}

.home {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--white);
}
.home .header__top {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 30px 60px;
  box-shadow: 0px 8px 120px 0px rgba(15, 15, 15, 0.08);
}
.home .header__top .header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.home .header__top .header__logo a {
  padding: 8px 10px;
  background-color: var(--blue);
  border-radius: 12px;
  text-decoration: none;
  color: var(--dark);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal; /* 141.667% */
  text-transform: none;
}
.home .header__top .header__logo :nth-child(2) {
  padding: 0;
  background-color: var(--white);
}
.home .header__top .header__middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home .header__top .header__middle .middle__item {
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.667% */
  text-transform: none;
}
.home .header__top .header__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.home .header__top .header__right .notifi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.home .header__top .header__right .notifi a {
  text-decoration: none;
  color: var(--grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 141.667% */
  text-transform: none;
}
.home .header__top .header__right .jamb {
  width: 1px;
  height: 32px;
  opacity: 0.5;
  background-color: var(--grey2);
}
.home .header__top .header__right .sign__in {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.home .header__top .header__right .sign__in img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .header .header__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.home .header .header__bottom .travel {
  padding-left: 9.36%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 70px;
  position: relative;
}
.home .header .header__bottom .travel .ormament {
  position: absolute;
  top: 125px;
  left: 356px;
  right: 94px;
  transform: translate(126px, 0);
}
.home .header .header__bottom .travel .eliment {
  position: absolute;
  left: 0;
  bottom: 60.29px;
  transform: rotate(-19.16 deg);
}
.home .header .header__bottom .travel .travel__top {
  margin-top: 6.83px;
}
.home .header .header__bottom .travel .travel__top .travel__heading {
  margin-bottom: 30px;
}
.home .header .header__bottom .travel .travel__top .travel__heading h1 {
  color: var(--dark);
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal; /* 141.667% */
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .header .header__bottom .travel .travel__top .travel__heading h1 span {
  color: #F5B318;
}
.home .header .header__bottom .travel .travel__top p {
  display: inline-block;
  color: var(--grey);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 40px;
}
.home .header .header__bottom .travel .travel__top .plan__trip {
  width: 317px;
  padding: 8px 8px 8px 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 111px;
  border-radius: 31px;
  background: var(--white);
  box-shadow: -16px 22px 42px 0px rgba(0, 31, 77, 0.12);
}
.home .header .header__bottom .travel .travel__top .plan__trip button {
  color: var(--dark);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; /* 141.667% */
  text-transform: none;
  white-space: nowrap;
}
.home .header .header__bottom .travel .travel__top .plan__trip a {
  display: inline-block;
  padding: 10px;
  background-color: var(--blue);
  border-radius: 30px;
}
.home .header .header__bottom .travel .travel__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.home .header .header__bottom .travel .travel__bottom p {
  color: var(--grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.667% */
  text-transform: none;
}
.home .header .header__bottom .travel .travel__bottom .travel__recomment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
}
.home .header .header__bottom .travel .travel__bottom .travel__recomment .recomment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
}
.home .header .header__bottom .travel .travel__bottom .travel__recomment .recomment h4 {
  color: var(--dark2);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 141.667% */
  text-transform: none;
}
.home .header .header__bottom .travel .travel__bottom .travel__recomment .recomment .recomment__star {
  width: 106px;
  height: 18px;
}
.home .header .header__bottom .travel .travel__bottom .travel__recomment .recomment .recomment__star img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .header .header__bottom .travel .travel__bottom .travel__recomment .jamb {
  width: 1px;
  height: 52px;
  flex-shrink: 0;
  background-color: var(--grey3);
  margin: 0 14px 0 24px;
}
.home .header .header__bottom .travel .travel__bottom .travel__recomment .num__reveiw {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0;
}
.home .header .header__bottom .travel .travel__bottom .travel__recomment .num__reveiw span {
  color: var(--blue);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 141.667% */
  text-transform: none;
}
.home .header .header__bottom .travel .travel__bottom .travel__recomment .num__reveiw small {
  color: var(--grey);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 141.667% */
  text-transform: none;
}
.home .header .header__bottom .travel .travel__bottom .travel__recomment .num__reveiw small strong {
  font-weight: 700;
}
.home .header .header__bottom .travel__img {
  position: relative;
  overflow: hidden;
}
.home .header .header__bottom .travel__img img {
  z-index: 1;
}
.home .header .header__bottom .travel__img .omament {
  width: 255px;
  height: 280px;
  position: absolute;
  top: 55px;
  right: 0;
}
.home .header .header__bottom .travel__img .bgr__circle {
  position: absolute;
  bottom: 62px;
  right: 54px;
  transform: scale(1.2);
}
.home .header .header__bottom .travel__img .live {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 18px 25px;
  border-radius: 20px;
  border: 1px solid rgba(243, 243, 243, 0.29);
  background: linear-gradient(193deg, rgba(255, 255, 255, 0.29) 61.18%, rgba(255, 255, 255, 0) 95.07%);
  box-shadow: 0px 0px 53.9px 0px rgba(0, 163, 255, 0.05);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: absolute;
  right: 60.3%;
  bottom: 19px;
  z-index: 1;
}
.home .header .header__bottom .travel__img .live .live__circle {
  padding: 9px;
  border-radius: 50%;
  background-color: var(--blue);
  position: relative;
}
.home .header .header__bottom .travel__img .live .live__circle .circle__border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .header .header__bottom .travel__img .live .live__circle .circle__border .camera {
  width: 24px;
  height: 24px;
}
.home .header .header__bottom .travel__img .live .live__circle .circle__border .camera img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .header .header__bottom .travel__img .live .live__circle .circle__border span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 3px;
  border-radius: 3px;
  background-color: var(--white);
  color: var(--dark);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 8px; /* 141.667% */
  text-transform: none;
}
.home .header .header__bottom .travel__img .live .live__time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.home .header .header__bottom .travel__img .live .live__time time {
  color: var(--dark);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; /* 141.667% */
  text-transform: none;
}
.home .header .header__bottom .travel__img .live .live__time p {
  color: var(--grey);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; /* 141.667% */
  text-transform: none;
}
.home .company {
  padding: 70px 284px;
  background: #F4F5F9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home .company .amadeus {
  width: 113px;
  height: 15px;
  flex-shrink: 0;
}
.home .company .amadeus img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .company .booking {
  width: 108px;
  height: 18px;
  flex-shrink: 0;
  position: relative;
}
.home .company .booking img {
  position: absolute;
  top: 0;
  left: 0;
}
.home .company .booking :first-child {
  display: inline-block;
}
.home .company .booking :nth-child(2) {
  display: inline-block;
  margin-left: 10.2px;
}
.home .company .booking :last-child {
  display: inline-block;
  margin-top: 3.58px;
  margin-left: 57.4px;
}
.home .company .trivago {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5.63px;
}
.home .company .trainline {
  width: 111px;
  height: 24px;
  flex-shrink: 0;
}
.home .company .trainline img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .company .cheapflights {
  width: 112px;
  height: 15px;
  flex-shrink: 0;
}
.home .company .cheapflights img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .company .momondo {
  width: 116px;
  height: 18px;
  flex-shrink: 0;
}
.home .company .momondo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .innovative {
  padding: 70px 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.home .innovative .innovative__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.home .innovative .innovative__heading h1 {
  color: var(--dark2);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 141.667% */
  text-transform: capitalize;
  letter-spacing: -0.4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .innovative .innovative__heading p {
  text-align: center;
  color: var(--dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .innovative .innovative__products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.home .innovative .innovative__products .innovative__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
}
.home .innovative .innovative__products .innovative__product .innova__logo {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 30px;
}
.home .innovative .innovative__products .innovative__product p {
  text-align: center;
  color: var(--dark);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .innovative .innovative__products .innovative__product .learn__more {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.home .innovative .innovative__products .innovative__product .learn__more a {
  text-decoration: none;
  color: var(--dark);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 141.667% */
  text-transform: none;
}
.home .innovative .innovative__products .innovative__product .learn__more .learn__arrow {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.home .innovative .innovative__products .innovative__product .learn__more .learn__arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .innovative .innovative__products .grey--green {
  background-color: #EEF9F2;
  padding: 21px 35px;
}
.home .innovative .innovative__products .grey--orange {
  background-color: #FFF4EE;
  padding: 21px 31px;
}
.home .innovative .innovative__products .grey--blue {
  background-color: #EBF1FF;
  padding: 21px 50px;
}
.home .book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 102px;
  padding: 69px 135px;
}
.home .book .book__create {
  padding: 40px 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  background-color: #FEE2B6;
  border-radius: 39px;
}
.home .book .book__create .create__setup {
  border-radius: 30px;
  overflow: hidden;
}
.home .book .book__create .create__setup .create__plan {
  padding: 25px 67px 25px 38px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}
.home .book .book__create .create__setup .create__plan .create__heading h2 {
  color: var(--dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 9px;
}
.home .book .book__create .create__setup .create__plan .create__heading p {
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .book .book__create .create__setup .create__plan .plan__trip {
  width: 250px;
  padding: 8px 12px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  border-radius: 10px;
  background: var(--white);
}
.home .book .book__create .create__setup .create__plan .plan__trip button {
  color: var(--dark1);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 141.667% */
  text-transform: none;
}
.home .book .book__create .create__setup .create__plan .plan__trip .plan__arrow {
  width: 24px;
  height: 24px;
}
.home .book .book__create .create__setup .create__plan .plan__trip .plan__arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .book .book__create .create__setup .create__plan .select__account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
}
.home .book .book__create .create__setup .create__plan .select__account .select__check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.home .book .book__create .create__setup .create__plan .select__account .select__check label {
  color: #F4F5F9;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 141.667% */
  text-transform: none;
}
.home .book .book__create .create__setup .create__plan .select__account .select__check p {
  color: #E6E8EC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 141.667% */
  text-transform: none;
}
.home .book .book__create .create__setup .create__plan .select__day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
}
.home .book .book__create .create__setup .create__plan .select__day .select__check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.home .book .book__create .create__setup .create__plan .select__day .select__check label {
  color: #F4F5F9;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 141.667% */
  text-transform: none;
}
.home .book .book__create .create__setup .create__plan .select__day .select__check p {
  color: #E6E8EC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 141.667% */
  text-transform: none;
}
.home .book .book__create .create__setup .create__plan .select__system {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
}
.home .book .book__create .create__setup .create__plan .select__system .select__check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.home .book .book__create .create__setup .create__plan .select__system .select__check label {
  color: #F4F5F9;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 141.667% */
  text-transform: none;
}
.home .book .book__create .create__setup .create__plan .select__system .select__check p {
  color: #E6E8EC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 141.667% */
  text-transform: none;
}
.home .book .book__create .create__setup .create__plan input[type=radio] {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-color: var(--white);
}
.home .book .book__create .create__setup .create__money {
  background-color: var(--white);
  padding: 10px 38px 25px 38px;
}
.home .book .book__create .create__setup .create__money p {
  color: var(--dark);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 141.667% */
  text-transform: none;
}
.home .book .book__create .create__setup .create__money p span {
  color: var(--dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 141.667% */
  text-transform: none;
}
.home .book .book__create .create__page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home .book .book__create .create__page .page__arrow {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.home .book .book__create .create__page .page__arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .book .book__create .create__page .page__number {
  color: var(--grey);
}
.home .book .book__create .create__page .page__number a {
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.667% */
  text-transform: none;
}
.home .book .book__create .create__page .page__number :last-child {
  color: var(--grey);
}
.home .book .book__step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}
.home .book .book__step .book__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding-right: 26px;
}
.home .book .book__step .book__top .book__heading h1 {
  color: var(--dark1);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 141.667% */
  text-transform: none;
  letter-spacing: -0.4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 24px;
}
.home .book .book__step .book__top .book__heading p {
  color: var(--dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .book .book__step .book__top .book__check {
  padding-bottom: 26px;
  border-bottom: 1px dashed var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.home .book .book__step .book__top .book__check .check__account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.home .book .book__step .book__top .book__check .check__account label {
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .book .book__step .book__top .book__check .check__private {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.home .book .book__step .book__top .book__check .check__private label {
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .book .book__step .book__top .book__check .check__utrip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.home .book .book__step .book__top .book__check .check__utrip label {
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .book .book__step .book__top .book__check input[type=radio] {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.home .book .book__step .book__top span {
  display: inline-block;
  margin-top: -10px;
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.667% */
  text-transform: none;
  font-style: italic;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .book .book__step .book__customer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
.home .book .book__step .book__customer .cus__avt {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}
.home .book .book__step .book__customer .cus__avt img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .book .book__step .book__customer .cus__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
.home .book .book__step .book__customer .cus__name a {
  text-decoration: none;
  color: var(--dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 141.667% */
  text-transform: none;
}
.home .book .book__step .book__customer .cus__name span {
  color: var(--grey);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 141.667% */
  text-transform: none;
}
.home .website {
  padding: 71px 135px;
  background-color: #EAF0FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 112px;
}
.home .website .website__booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}
.home .website .website__booking .website__heading h1 {
  color: var(--dark1);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 141.667% */
  text-transform: none;
  letter-spacing: -0.4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 24px;
}
.home .website .website__booking .website__heading p {
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .website .website__booking .booking__places {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.home .website .website__booking .booking__places .place__trip {
  padding: 22px 27px 22px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1.106px solid #F4F5F6;
  background: var(--white);
  box-shadow: 0px 2.213px 8.851px 0px rgba(15, 15, 15, 0.08);
}
.home .website .website__booking .booking__places .place__trip .place__img {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}
.home .website .website__booking .booking__places .place__trip .place__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .website .website__booking .booking__places .place__trip h3 {
  color: var(--dark);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .website .website__booking .booking__places .place__trip p {
  color: var(--grey);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.585px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .website .website__message {
  padding: 31px 24px;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0px 14px 40px -15px rgba(15, 15, 15, 0.08);
}
.home .website .website__message .website__admin {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 17px;
}
.home .website .website__message .website__admin .admin__avt {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: #EAF0FF;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.home .website .website__message .website__admin .admin__avt img {
  position: absolute;
  top: 35%;
}
.home .website .website__message .website__admin .admin__hi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.home .website .website__message .website__admin .admin__hi h4 {
  color: var(--dark);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 141.667% */
  text-transform: none;
}
.home .website .website__message .website__admin .admin__hi p {
  color: var(--grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 141.667% */
  text-transform: none;
}
.home .website .website__message .website__text {
  width: 326px;
  padding: 20px;
  background-color: #ECECEC;
  border-radius: 23px;
  position: relative;
}
.home .website .website__message .website__text img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .website .website__message .website__text button {
  position: absolute;
  top: 35%;
  right: 2.7%;
  background-color: #FA8F54;
  padding: 6px 26px;
  border-radius: 10px;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 141.667% */
  text-transform: none;
}
.home .website .website__message .website__text .button__arrow {
  position: absolute;
  top: 29.8%;
  right: 26.8%;
  flex-shrink: 0;
}
.home .works {
  padding: 70px 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 91px;
}
.home .works .works__img {
  width: 646px;
  height: 648px;
  flex-shrink: 0;
  position: relative;
}
.home .works .works__img .work__planner {
  padding: 30px;
  border-radius: 16px;
  background: var(--white);
  box-shadow: 0px 40px 126px -10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 1%;
  right: 19.6%;
  z-index: 1;
}
.home .works .works__img .work__planner .planner__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.home .works .works__img .work__planner .planner__heading .logo {
  padding: 12px 14px;
  border-radius: 18px;
  background: #EBF1FF;
  flex-shrink: 0;
}
.home .works .works__img .work__planner .planner__heading h3 {
  margin-left: 15px;
  color: var(--dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 141.667% */
  text-transform: none;
  margin-right: 34px;
}
.home .works .works__img .work__planner .planner__heading .down {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.home .works .works__img .work__planner .planner__img {
  overflow: hidden;
  border-radius: 16px;
  width: 290px;
  height: 267px;
  flex-shrink: 0;
}
.home .works .works__img .work__planner .planner__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .works .works__img .work__planner .planner__follow {
  width: 100%;
  margin-top: -13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.home .works .works__img .work__planner .planner__follow .follower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.home .works .works__img .work__planner .planner__follow .follower .fl__avt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.home .works .works__img .work__planner .planner__follow .follower .fl__avt .avt1 {
  border-radius: 30px;
  border: 2px solid var(--white);
  width: 28.444px;
  height: 28.444px;
  overflow: hidden;
  flex-shrink: 0;
}
.home .works .works__img .work__planner .planner__follow .follower .fl__avt .avt2 {
  border-radius: 30px;
  border: 2px solid var(--white);
  width: 28.444px;
  height: 28.444px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -5px;
}
.home .works .works__img .work__planner .planner__follow .follower .fl__avt .avt3 {
  border-radius: 30px;
  border: 2px solid var(--white);
  width: 28.444px;
  height: 28.444px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -5px;
}
.home .works .works__img .work__planner .planner__follow .follower a {
  display: inline-block;
  text-decoration: none;
  color: var(--grey);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 141.667% */
  text-transform: none;
  margin-left: 14px;
}
.home .works .works__img .work__planner .planner__follow button {
  padding: 10px 30px;
  background-color: var(--blue);
  border-radius: 10px;
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 141.667% */
  text-transform: none;
}
.home .works .works__img .work__profile {
  padding: 30px 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 20px;
  background: var(--white);
  box-shadow: 0px 12px 120px -10px rgba(0, 0, 0, 0.08);
  position: absolute;
  left: 0;
  bottom: 0;
}
.home .works .works__img .work__profile .profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.home .works .works__img .work__profile .profile__info .avt {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  position: relative;
}
.home .works .works__img .work__profile .profile__info .avt img {
  border-radius: 50%;
}
.home .works .works__img .work__profile .profile__info .avt .drop {
  position: absolute;
  bottom: 0;
  right: 18.75%;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  background-color: #58C27D;
  border-radius: 50%;
  border: 2px solid var(--white);
  z-index: 1;
}
.home .works .works__img .work__profile .profile__info .profile__name {
  display: inline-block;
  text-align: center;
}
.home .works .works__img .work__profile .profile__info .profile__name h4 {
  color: var(--dark1);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 6px;
}
.home .works .works__img .work__profile .profile__info .profile__name p {
  color: var(--grey2);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .works .works__img .work__profile .profile__info .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.home .works .works__img .work__profile .profile__info .social a {
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.home .works .works__img .work__profile .profile__info .social a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .works .works__img .work__profile button {
  width: 184px;
  padding: 10px 30px;
  background-color: var(--blue);
  border-radius: 10px;
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 141.667% */
  text-transform: none;
}
.home .works .works__img .work__travellers {
  overflow: hidden;
  padding: 22px 34px;
  position: absolute;
  right: 0;
  top: 20.3%;
  z-index: 1;
  border-radius: 14px;
  background: var(--white);
  box-shadow: 0px 60px 120px 0px rgba(0, 0, 0, 0.1);
}
.home .works .works__img .work__travellers h4 {
  color: var(--dark1);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.667% */
  text-transform: none;
  margin-bottom: 11px;
}
.home .works .works__img .work__travellers .traveller .tv__avt {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.home .works .works__img .work__travellers .traveller .tv__avt .avt1 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 2px solid var(--white);
  overflow: hidden;
}
.home .works .works__img .work__travellers .traveller .tv__avt .avt1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .works .works__img .work__travellers .traveller .tv__avt .avt2 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 2px solid var(--white);
  overflow: hidden;
  margin-left: -5px;
}
.home .works .works__img .work__travellers .traveller .tv__avt .avt2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .works .works__img .work__travellers .traveller .tv__avt .avt3 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 2px solid var(--white);
  overflow: hidden;
  margin-left: -5px;
}
.home .works .works__img .work__travellers .traveller .tv__avt .avt3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .works .works__img .work__travellers .traveller .tv__avt .avt4 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 2px solid var(--white);
  overflow: hidden;
  margin-left: -5px;
}
.home .works .works__img .work__travellers .traveller .tv__avt .avt4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .works .works__img .work__travellers .traveller .tv__avt .avt5 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 2px solid var(--white);
  overflow: hidden;
  margin-left: -5px;
}
.home .works .works__img .work__travellers .traveller .tv__avt .avt5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .works .works__img .btn1 {
  padding: 10px;
  background-color: var(--blue);
  border-radius: 10px;
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 141.667% */
  text-transform: none;
}
.home .works .works__img .btn2 {
  width: 184px;
  padding: 10px 30px;
  background-color: var(--blue);
  border-radius: 10px;
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 141.667% */
  text-transform: none;
}
.home .works .works__how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.home .works .works__how .works__heading h1 {
  color: var(--dark1);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  letter-spacing: -0.4px;
  margin-bottom: 24px;
}
.home .works .works__how .works__heading p {
  color: var(--dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .works .works__how .works__select {
  padding-right: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.home .works .works__how .works__select .work__select1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.home .works .works__how .works__select .work__select1 .select__icon {
  padding: 18px;
  flex-shrink: 0;
  border-radius: 30px;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.12);
}
.home .works .works__how .works__select .work__select1 .select__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .works .works__how .works__select .work__select1 .select__name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.home .works .works__how .works__select .work__select1 .select__name h4 {
  color: var(--dark);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .works .works__how .works__select .work__select1 .select__name p {
  color: var(--grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .services {
  padding: 70px 205px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.home .services .services__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.home .services .services__heading h1 {
  color: var(--white);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 141.667% */
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  letter-spacing: -0.4px;
}
.home .services .services__heading p {
  color: #F4F5F6;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  text-align: center;
}
.home .services .service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.home .services .service .service__item {
  padding: 25px 28px 15px 28px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.home .services .service .service__item .icon {
  width: 44px;
  height: 44px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-shrink: 0;
}
.home .services .service .service__item .achive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.home .services .service .service__item .achive p {
  color: var(--dark);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.home .services .service .service__item .achive small {
  color: var(--grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 141.667% */
  text-transform: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}/*# sourceMappingURL=style.css.map */